<div class="cuerpo">
    <div class="login">
        <img src="../../assets/imagenes/login_ingreso.jpg"  width="50%">
        <h1>LOGIN - INGRESO</h1>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="ancho boton">Ingresar</button>
    </div>
</div>



