<!--
  _                   ,  ,    ___  
 | |                 (_)(_) (  __ |              
 | |      _       __  |  |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | |_| | || ||\__\ \       
 | |___| |_| |  \__  |_||_||____,_)      
 |____/ \___/ , __| |              
                | _ /                                   
                      
  Desarrollado por Logi is  
-->

<app-headboard></app-headboard>
<app-login></app-login>
<!-- ngIf -->
<div class="container">
  <button class="btn btn-warning" (click)="informacion=!informacion">Me Interesa</button>  
  <p class="text-info" *ngIf="informacion, else informacionDos" >Telefono Celular Ejecutivo: 3124635269</p>
</div>

<ng-template #informacionDos>
  <p class="text-danger">Lo Mejor es invertir en Finca Raiz!</p>
</ng-template>